.profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.profile-container {
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile-container h2 {
    margin-bottom: 20px;
}

.user-info {
    margin-bottom: 20px;
}

.user-info div {
    margin-bottom: 10px;
}

.order-item {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.order-history {
    overflow: scroll;
    height: 250px;
}

.order-item-name {
    font-weight: bold;
}

.order-item-price {
    font-size: 13px;
}

.order-item-date {
    font-size: 12px;
    color: #888;
}

.logout-button {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #c0392b;
}